.product{
    background-color: var(--card-background);
    width: 230px;
    padding: 20px 16px;
    border-radius: 12px;

}

.product__img{
    border-radius: 12px;
    display: block;
    margin: auto;
}

.product__name{
    text-align: center;
    font-size: 14px;
    margin-top: 14px;
    color: var(--text);
}

.product__details{
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
    color: var(--text);

}

.product__oldPrice{
    text-decoration: line-through;
}

.product__price{
 font-weight: bold;   
}